html {
	min-height: 15em;
	min-width: 30em;
	padding: 1.5em;
}

h4 {
	font-size: 18px;
}

.no-fix {
    font-size: 10px;
    margin-top: 3em;
}

.fix-editor {
	padding: 1.5em;
}

.hidden {
	visibility: hidden;
}

.btn.btn-main {
	margin: 1.5em 0;
}

.fix-editor {
	text-align: right;
}

.table {
	margin-top: 3em;
}